@import "compass/css3";
@import "_animations";


.game {
  left: 50%;
  top: 50%;
  width: 800px;
  height: 600px;
  margin-left: -400px;
  margin-top: -300px;
  overflow: hidden;
  position: absolute;
}

.world {
  position: absolute;
  width: 5000px;
  height: 1000px;
}

.background {
  background: url('http://assets.sbnation.com/assets/1608607/Screen_Shot_2012-08-06_at_12.23.43_PM.jpeg');
  position: absolute;
  height: 479px;
  width: 3000px;
}

.enemy {
  position: absolute;
  height: 75px;
  width: 65px;
  left: 0;
  top: 0;
  background: url('../images/apple.png') 50% 50% / contain no-repeat;
}

@import "_player";
@import "_platform";
