@import "compass/css3";
@import "_animations";

.container {
  bottom: 0;
  left: 10px;
  min-height: 600px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 10px;
}

@import "_player";
@import "_platform";
